<div class="well">
    <div class="row ">
        <div class="text-center">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation"><a class="btn btn-default" href="#queue"><span class="glyphicon glyphicon-inbox"></span> My Queue</a></li>
                <li role="presentation"><a class="btn btn-default" href="#assign"><span class="glyphicon glyphicon-list-alt"></span> Make Assignment</a></li>
                <li role="presentation"><a class="btn btn-default" href="#account"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
            </ul>
        </div>
    </div>
</div>