<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title text-center">{{assignment.title}}</h1>
        <!--<div class="btn btn-warning col-sm-2" type="button" ng-click="cancel()">Return to Queue</div>-->
        <div class="btn btn-primary col-sm-2 col-sm-offset-10" ng-click="cancel()">Complete!</div>

    </div>

    <div class="modal-body">
        <form class="form-group">
            <p>Submission Feedback</p>
            <div class="text-center form-control">
                {{assignment.instructor_feedback}}
            </div>


            <div class="text-center">
                <h3>{{assignment.description}}</h3>
                <a ng-href="{{assignment.resource_link}}">Github Resource</a>
            </div>

                <div class="form-group">
                    <p class="control-label">Github Repo: </p>
                    <div>
                        <a ng-href="assignment.github" class='form-control'>My Github Repo</a>
                    </div>
                </div>

                <div class="form-group" ng-if="assignment.heroku">
                    <p class="control-label">Heroku Link: </p>
                    <div>
                        <a ng-href="{{assignment.heroku}}" class="form-control">My Heroku Site</a>
                    </div>
                </div>

                <div class="form-group" ng-if="assignment.students_comments">
                    <p class="control-label">Questions & Comments: </p>
                    <div>
                        <p class="form-control">{{assignment.students_comments}}</p>
                    </div>
                </div>
            </form>

        </div>
    </div>