 <div class="modal-content">
     <div id='mhead' class="modal-content">
         <header ng-include="'/views/templates/modalformheader.html'"></header>
         <div class="modal-body">
            <form name="form" class="form-horizontal">

                <div class="form-group" ng-class="{ 'has-error': !form.feedback.$pristine && form.feedback.$invalid }">
                    <label class="col-sm-2 control-label" for="feedback">Feedback for {{assignment.firstname}}: </label>
                    <div class="col-sm-10">

                        <textarea ng-model="assignment.instructor_feedback"
                                  class="form-control" cols="40" rows="10"
                                  name="feedback" id="feedback" required></textarea>

                        <div ng-messages="form.feedback.$error" ng-if="!form.feedback.$pristine">
                            <p ng-message="required">Please provide some feedback for the student</p>
                        </div>

                    </div>
                </div>

            </form>

            <div class="row">
                <label class="col-sm-2 control-label">Github Repo: </label>
                <a class="col-sm-10" ng-href="{{assignment.github}}">{{assignment.firstname}}'s Github Repo</a>
            </div>
            <div class="row" ng-if="assignment.heroku">
                <label class="col-sm-2 control-label">Heroku Link: </label>
                <a class="col-sm-10" ng-href="{{assignment.heroku}}">{{assignment.firstname}}'s Heroku Website</a>
            </div>
            <div class="row" ng-if="assignment.students_comments">
                <label class="col-sm-2 control-label">Student Feedback: </label>
                <div class="col-sm-10">{{assignment.students_comments}}</div>
            </div>

         </div>
    </div>
</div>


