<!DOCTYPE html>
<html>
    <head>
        <title>Prime Origin Login</title>

        <link rel="stylesheet" href="/vendors/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/styles/style.css">

        <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="/assets/scripts/register.min.js"></script>
    </head>

    <body>
        <div class="instructions">
            <div class="container">
                <h1 class="lead text-center">Prime Origin</h1>
            </div>
        </div>
        <div class="container col-md-6 col-md-offset-3">
            <div class="well text-center">
                <h3>Password Reset</h3>

            <form name="reset_form" class="form-horizontal" action="/password" method="post">

                <div class="form-group" ng-class="{ 'has-error' : reset_form.username.$invalid && !reset_form.username.$pristine }">
                    <label class="control-label col-sm-4" for="username">Username:</label>
                    <div class="col-sm-8">
                        <input class='form-control'
                               type="text"
                               name="username" id="username" ng-model="username"
                               required/>

                        <!--Form Validation-->
                        <div ng-messages="reset_form.username.$error" ng-if="!reset_form.username.$pristine">
                            <p ng-message="required">Enter Username</p>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : reset_form.email.$invalid && !reset_form.email.$pristine }">
                    <label class="control-label col-sm-4" for="email">Email:</label>
                    <div class="col-sm-8">
                        <input class='form-control'
                               type="text"
                               name="email" id="email" ng-model="email"
                               required/>

                        <!--Form Validation-->
                        <div ng-messages="reset_form.email.$error" ng-if="!reset_form.email.$pristine">
                            <p ng-message="required">Enter Email</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <a class='col-md-4' href="/register">Register</a>
                    <input ng-disabled='reset_form.$invalid' class='btn btn-default col-md-4' type="submit" value="Reset Password"/>
                    <a class="col-md-4" href="/">Login</a>
                </div>
            </form>
            </div>
        </div>

    </body>
</html>