<!DOCTYPE html>
<html ng-app="formApp">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/register.min.js"></script>
</head>

<body ng-controller="FormCtrl">
<div class="instructions">
    <div class="container">
        <h1 class="lead text-center">Prime Origin</h1>
    </div>
</div>
<div class="container col-md-6 col-md-offset-3">
    <div class="well text-center">
        <h3>Student Registration</h3>

        <form name="signup_form" class="form-horizontal" action="/register" method="post">

            <div class="form-group" ng-class="{ 'has-error' : signup_form.username.$invalid && !signup_form.username.$pristine }">
                <label class="control-label col-sm-4" for="username">Username:</label>
                <div class="col-sm-8">
                    <input class='form-control'
                           type="text"
                           name="username" id="username" ng-model="username"
                           ng-unique="{key: 'users', property: 'username'}"
                           required/>
                    <p class="help-block" ng-show="signup_form.username.$error.unique">Please choose a different Username</p>
                    <p class="help-block" ng-show="signup_form.username.$error.required && !signup_form.username.$pristine">Enter Username</p>
                </div>
            </div>


            <div class="form-group" ng-class="{ 'has-error' : signup_form.password.$invalid && !signup_form.password.$pristine }">
                <label class="control-label col-sm-4" for="password">Password:</label>
                <div class="col-sm-8">
                    <input class='form-control'
                           type="password"
                           name="password" id="password" ng-model="password"
                           required/>
                    <p class="help-block" ng-show="signup_form.password.$error.required && !signup_form.password.$pristine">
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : signup_form.passwordB.$invalid && !signup_form.passwordB.$pristine }">
                <label class="control-label col-sm-4" for="passwordB">Retype Password:</label>
                <div class="col-sm-8">
                    <input class='form-control'
                           type="password"
                           name="passwordB" id="passwordB" ng-model="passwordB"
                           required password-match="password"/>
                    <p class="help-block" ng-show="signup_form.passwordB.$error.required && !signup_form.passwordB.$pristine">
                        Please retype your password. </p>
                    <p ng-show="signup_form.passwordB.$invalid && !signup_form.passwordB.$pristine" class="help-block">Passwords do not match!</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : signup_form.firstName.$invalid && !signup_form.firstName.$pristine }">
                <label class="control-label col-sm-4" for="firstName">First Name:</label>
                <div class="col-sm-8">
                    <input class='form-control'
                           type="text"
                           name="firstName" id="firstName" ng-model="firstName" required/>
                    <p class="help-block" ng-show="signup_form.firstName.$error.required && !signup_form.firstName.$pristine">Enter First Name</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : signup_form.lastName.$invalid && !signup_form.lastName.$pristine }">
                <label class="control-label col-sm-4" for="lastName">Last Name:</label>
                <div class="col-sm-8">
                    <input class='form-control'
                           type="text"
                           name="lastName" id="lastName" ng-model="lastName" required/>
                    <p class="help-block" ng-show="signup_form.lastName.$error.required && !signup_form.lastName.$pristine">Enter Last Name</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : signup_form.email.$invalid && !signup_form.email.$pristine }">
                <label class="control-label col-sm-4" for="email">Email:</label>
                <div class="col-sm-8">
                    <input class='form-control'
                           type="email" name="email" id="email" ng-model="email"
                           required/>

                    <p class="help-block" ng-show="signup_form.email.$error.required && !signup_form.email.$pristine">
                        Enter Email Address</p>
                    <p class="help-block" ng-show="signup_form.email.$error && !signup_form.email.$pristine">
                        Enter Valid Email Address</p>
                </div>
            </div>


            <div class="form-group" ng-class="{ 'has-error' : signup_form.cohort.$invalid && !signup_form.cohort.$pristine }">
                <label class="control-label col-sm-4" for="cohort">Select your Cohort:</label>
                <select name="cohort" id="cohort" ng-model="cohort" required>
                    <option>alpha</option>
                    <option>beta</option>
                    <option>gamma</option>
                    <option>delta</option>
                    <option>epsilon</option>
                    <option>zeta</option>
                    <option>eta</option>
                    <option>theta</option>
                    <option>iota</option>
                    <option>kappa</option>
                    <option>lambda</option>
                </select>
            </div>

            <div class="form-group">
                <a class='col-md-4' href="/register/instructor" >Instructor?</a>
                <input ng-disabled="signup_form.$invalid" class='btn btn-success col-md-4' type="submit" value="Register"/>
                <a class="col-md-4" href="/">Login?</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>