<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
    <div class="instructions">
        <div class="container">
            <h1 class="lead">Register New User</h1>
        </div>
    </div>

    <div class="container">
        <form action="/register" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="cohort">Select your Cohort:</label>
                <select name="cohort" id="cohort">
                    <option>alpha</option>
                    <option>beta</option>
                    <option>gamma</option>
                    <option>delta</option>
                    <option>epsilon</option>
                    <option>zeta</option>
                    <option>eta</option>
                    <option>theta</option>
                    <option>iota</option>
                    <option>kappa</option>
                    <option>lambda</option>
                </select>
            </div>

            <input type="submit" value="Register"/>
        </form>
    </div>
</body>
</html>