<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/assets/scripts/student.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers.min.js"></script>


</head>
<body>
    <div class="container">
    <header ng-include="'/views/templates/header.html'"></header>
    <nav ng-include="'/views/templates/studentnav.html'"></nav>
    <main class="col-sm-offset-2 col-sm-8" ng-view></main>
    </div>
</body>
</html>