 <div class="container">
     <h1 class="text-center">YOUR ASSIGNMENTS</h1>
     <table class="table table-hover">
         <thead>
            <tr>
             <th>Assignment Title</th>
             <th>Status</th>
            </tr>
         </thead>
         <tbody>
         <tr ng-repeat="info in portfolio" ng-click="open(info)">
             <td>{{info.title}}</td>
             <td ng-if="info.status_code === 0">New!</td>
             <td ng-if="info.status_code === 1">Submitted</td>
             <td ng-if="info.status_code === 2">Reviewed</td>
         </tr>
         </tbody>
     </table>
 </div>